In [7]:
import pandas as pd
data = pd.read_csv("ath.csv")
data.drop_duplicates(subset="Name", keep='first', inplace=True)  # 数据去重
data.reset_index(inplace=True)
data

       index      ID                          Name Sex Height Weight
0          0       5      Christine Jacoba Aaftink   女    185     82
1          6       6               Per Knut Aaland   男    188     75
2         14       7                  John Aalberg   男    183     72
3         22       9              Antti Sami Aalto   男    186     96
4         23      11            Jorma Ilmari Aalto   男    182   76.5
...      ...     ...                           ...  ..    ...    ...
18918  48551  135559              Pawe Jan Zygmunt   男    182     79
18919  48558  135564  Yevgeny Aleksandrovich Zykov   男    172     65
18920  48559  135569                    Andrzej ya   男    179     89
18921  48560  135570                      Piotr ya   男    176     59
18922  48562  135571            Tomasz Ireneusz ya   男    185     96

[18923 rows x 6 columns]

In [ ]:
from translate import Translator

translator= Translator(to_lang="chinese")
for i in range(10):
    data.iloc[i, 2] = translator.translate(data.iloc[i, 2])
data